/* #231010 */
/* -header color */


/* #D9EAD3
-body color */

.header {
    background-color: #231010;

    
}

body {
    background-color: #D9EAD3;
}
.nav-link {
    color: #D9EAD3;
    padding: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
  
   
}
main {
    background-color: #D9EAD3;
}
a {
    text-decoration: none;
    
}

.tech-blog {
    width: 25%;
    padding: 5px;
    margin: 10px;
    background-color: #D9EAD3;
    color: #231010;
    border: 2px;
    border-radius: 5px;
    box-shadow: 5px 7px 1px #929490;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    letter-spacing: 1.5px;
    padding-top: 5px;
  }